/* .AppBar {
  text-align: center;
} */

.AppBar-header {
  position: relative;
  background-image: url("https://media.giphy.com/media/o0mdBMezyYk5q/giphy.gif");
  background-color: #222;
  height: 145px;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

#nameBox {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 250px;
    height: 100px;
    padding: 15px;
    margin: 20px 0 0 0;
    text-align: center;
    background: yellow;
    color: black;
    border-radius: 100px;
    border: solid 1px black;
}

.smallprint {
  color: yellow;
  font-size: 10px;
}

.AppBar-title {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  font-size: 4rem;
}

.info-card {
  height: 280px;
  width: 105%;
  margin: 10px 0 0 1px;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 2px 4px lightgray;
}
