/* .AppBar {
  text-align: center;
} */

.AppBar-header {
  position: relative;
  background-image: url("https://media.giphy.com/media/o0mdBMezyYk5q/giphy.gif");
  background-color: #222;
  height: 145px;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

#nameBox {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 250px;
    height: 100px;
    padding: 15px;
    margin: 20px 0 0 0;
    text-align: center;
    background: yellow;
    color: black;
    border-radius: 100px;
    border: solid 1px black;
}

.smallprint {
  position : absolute;
  top: 90px;
  left: 40px;
  color: yellow;
  font-size: 10px;
}
.button-box {
  position: relative;
  top: -30px;
  left: 0px;
  height : 40px;
  width  : 200px;
  justify-content: center;
  display: inline-flex;
}

.button-delete,
.button-login {
  position : absolute;
  height: 40px;
  width: 80px;
  padding: 0px 0px 0px 0px;
  font-weight: 600;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
}
.button-delete:hover,
.button-login:hover {
  width: 90px;
  height: 40px;
}
.button-login {
  top: 80px;
  left: 300px;
}
.button-delete {
  top: 80px;
  left: 390px;
}

#user {  
  position : absolute;
  top: 40px;
  left: 317px;
  width: 150px;
  text-align: center;
  color: white;
}

.AppBar-title {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  font-size: 4rem;
}

.info-card,
.chart-card {
  position: relative;
  width: 100%;
  margin: 10px 0 0 1px;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 2px 4px lightgray;
}
.info-card {
  height: 320px;
}
.chart-card {
  height: 420px;
}


@-ms-viewport{
  width: device-width;
}

/* Responsive coding using breakpoints */

/* Width at 991px and below */
@media screen and (max-width: 991px) {
  .container {
    width: 90%;
    padding: 10px;
  }
  .info-card,
  .chart-card {
    border: solid 0px black;
    box-shadow: 0px 0px;
  }
  .AppBar-title {
    display: none;
  }

  #user {  
    color: black;
  }

}

/* Width at 359px and below */
@media screen and (max-width: 359px) {
  body {
    background-color: #333;
  }
  
  .AppBar-title {
    display: none;
  }

  .container {
    width: 90%;
    padding: 20px;
  }
}

