.search-box {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  font-size: 10pt;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 4px 2px gray;
}

#timedate {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12pt;
  text-shadow: 1px 1px;
}

#timecat {
  position: absolute;
  top: 25px;
  left: 10px;
  font-size: 75%;
  text-shadow: 1px 1px;
}

label {
  font-size: 80%;
}

#position-lat-label {
  position:absolute;
  top: 40px;
  left: 10px;
}

#position-lon-label {
  position:absolute;
  top: 40px;
  left: 120px;
}

#position-lat, #position-lon {
  position: absolute;
  top: 55px;
  height: 22px;
  width: 100px;
  margin: auto;
  padding: 0px 0 0 8px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 4px 2px gray;
}
#position-lat {
  left: 10px;
}
#position-lon {
  left: 120px;
}

.button-random {
  position: absolute;
  top: 37px;
  left: 231px;
  height: 39px;
  width: 100px;
  margin: 10px 0 0 5px;
  padding: 0px 0px 0px 0px;
  font-weight: 600;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px lightgray;
}
.button-random:hover {
    margin: 8px 0 0 0px;
    width: 110px;
    height: 40px;
}
#dbRed {
  background-color: red;
}
#dbGreen {
  background-color: teal;
}
#dbBlue {
  background-color: blue;
}
#dbYellow {
  background-color: yellow;
}
#dbBrown {
  background-color: brown;
}

#minDistance {
  position: absolute;
  top : 80px;
  left: 10px;
  height: 20px;
  font-size: 12pt;
  text-shadow: 1px 1px;
}

#start-station-id,
#start-station,
#end-station-id,
#end-station {
  position: absolute;
  padding: 3px 0 0 5px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 4px 2px lightgray;
}
#start-station-id-label {
  position:absolute;
  top: 105px;
  left: 10px;
}

#start-station-id {
  top: 120px;
  left: 10px;
  width: 35px;
  height: 30px;
}

#start-station {
  top: 120px;
  left: 45px;
  min-width: 240px;
  height: 30px;
}

#end-station-id-label {
  position:absolute;
  top: 155px;
  left: 10px;
}

#end-station-id {
  top: 170px;
  left: 10px;
  width: 35px;
  height: 30px;
}

#end-station {
  top: 170px;
  left: 45px;
  min-width: 240px;
  height: 30px;
}

button {
  font-size: 10pt;
}
#toggle-box-time,
#toggle-box-profile,
#toggle-box-location {
  position: absolute;
  top: 210px;
  width: 95px;
  height: 90px;
  padding: 0 0 0 5px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px lightgray;
}
#toggle-box-profile {
  left: 10px;
  font-size: 10pt;
}
#toggle-box-time {
  left: 120px;
  font-size: 10pt;
}
#toggle-box-location {
  left: 230px;
  background-color: rgb(170,218,255);
  font-size: 12pt;
  font-weight: 600;
}
#toggle-box-time:hover,
#toggle-box-profile:hover,
#toggle-box-location:hover {
  height: 105px;
  width: 105px;
}

/* Responsive coding using breakpoints */

/* Width at 991px and below */
@media screen and (max-width: 991px) {
  #timedate {
    font-size: 7pt;
  }

  #minDistance {
    font-size: 7pt;
  }
}

/* Width at 359px and below */
@media screen and (max-width: 359px) {
  #timedate {
    font-size: 7pt;
  }

  #minDistance {
    font-size: 7pt;
  }
}

