.chart-summary {
  height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
}

.chart-detail {
  text-align: center;
  margin: auto;
  font-size: 16px;
}

#waitMsg {
  margin-top:  50%;
  margin-left: 10%;
  font-size: 24px;
  font-weight: 750;
}
